:root{
    --gradient : linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}


body{
    background: var(--gradient);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
}
#app{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.container_login{
    display:flex;
    justify-content: space-around;
    background: white;
    padding: 2rem;
    /* max-width: 80%; */
    
}

.container_login-login {
    padding: 2rem;
}
.container_login-login form{
    display:flex; 
    flex-direction: column;
    justify-content: center;
}

.container_login-register{
    padding: 2rem;
}
.container_login-register form{
    display:flex;
    flex-direction: column;    
    justify-content: center;

}